NORTH_CAPITAL_CLIENT_ID=""
NORTH_CAPITAL_DEVELOPER_API_KEY=""
NORTH_CAPITAL_API_URL=""
NORTH_CAPITAL_OFFERING_ID=""
VERTALO_API_URL=""
VERTALO_CLIENT_ID=""
VERTALO_CLIENT_SECRET=""
VERTALO_ALLOCATION_ID=""